@model IEnumerable<CTTIMS_Final.Models.Attendence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Attendance", FormMethod.Get))
    {
        var query = Request.QueryString["date"];
        // Convert query string value back to Enumerator
        if (query != null)
        {
            //aType = (AssessmentType)System.Enum.Parse(typeof(AssessmentType), query);
        }
        <div class="form-group">
            <div>
                <label>Select Assessment</label>
            </div>
            <div class="col-md-10">
                @*@Html.Hidden("bid", Request.QueryString["bid"]);*@
                @if (ViewBag.EntryDates != null)
                {
                    IEnumerable<SelectListItem> list = (IEnumerable<SelectListItem>)ViewBag.EntryDates;
                    TempData["list"] = list;

                    @Html.DropDownList("date", list, "--Select Date--",
                                new { @class = "form-control", @onchange = "this.form.submit();" })
                }
                else
                {
                    <h4 class="text-danger">No Attendance entry found for this course!</h4>
                    return;
                }
            </div>
        </div>
    }

    @if (Model != null)
    {
        <table class="table-hover table-condensed">
            <tr>
                <th>
                    Sr. No.
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Status
                </th>
            </tr>
            @{ int count = 0;
             foreach (var item in Model)
             {
                <tr>
                    <td>
                        @{ count++; }
                        @count
                    </td>
                    <td>
                        @item.Enrollment.Student.FirstName&nbsp;@item.Enrollment.Student.LastName
                    </td>
                    <td style="text-align:center">
                        @item.Status
                    </td>
                </tr>
             }
            }
        </table>
    }
</div>